# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# ======================
# Virtual environment
# ======================
venv/
.env
.env.*
!.env.example

# ======================
# Django
# ======================
*.log
db.sqlite3
db.sqlite3-journal
staticfiles/
media/

# ======================
# Streamlit
# ======================
.streamlit/

# ======================
# VS Code
# ======================
.vscode/

# ======================
# IDE / Editors
# ======================
.idea/

# ======================
# OS
# ======================
.DS_Store
Thumbs.db
